[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Categories=Network;
Icon=harbour-dee
Exec=harbour-dee
Name=Dee

[X-HarbourBackup]
BackupPathList=.config/dev.scarpino/harbour-dee.conf

[X-Sailjail]
OrganizationName=dev.scarpino
ApplicationName=harbour-dee
Permissions=Internet;Secrets
